<app-header></app-header>
<section class="section section__error">
  <div class="container">
    <div class="error__content">
      <div class="error__icon">
        <i class="bx bx-x-circle"></i>
      </div>
      <h2>¡Algo Salió Mal!</h2>
      <p>No pudimos procesar tu compra en este momento. Por favor, intenta de nuevo más tarde.</p>
      <div class="error__actions">
        <a routerLink="/inicio" class="btn btn-primary">Volver al Inicio</a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
