<footer>
  <h2>Ponte en contacto</h2>
  <div class="contenedor__footer">
    <article>
      <div>
        <i class="bx bx-phone"></i>
        <a href="">
          <span> Teléfono </span>
          <span> 947346467</span>
        </a>
      </div>
      <div>
        <i class="bx bx-envelope"></i>
        <a href="mailto:anselimport@hotmail.com">
                  <span> Correo </span>
          <span> anselimport&#64;hotmail.com</span>
        </a>
      </div>
      <div class="adress__footer">
        <img src="assets/location-icon.webp" alt="" />
        <a href="">
          <span> Dirección: cal.garci carbajal nro. 101 int. a 12</span>
          <span> RUC: 20600674651</span>
        </a>
      </div>
    </article>
    <hr />
    <article>
      <div>
        <a href="">Politica de privacidad</a>
        <span class="punto"></span>
        <a href="">Terminos de uso</a>
      </div>
      <div>
        <a href="" class="icon_media"><i class="bx bxl-twitter"></i></a>
        <a href="" class="icon_media"><i class="bx bxl-facebook"></i></a>
        <a href="" class="icon_media"><i class="bx bxl-instagram"></i></a>
      </div>
    </article>
    <hr />
    <p>&copy; Copyright 2024 ANSUR PERÚ. Todos los derechos reservados</p>
  </div>
</footer>
