<footer>
  <h2>Ponte en contacto</h2>
  <div class="contenedor__footer">
    <article>
      <div>
        <i class="bx bx-phone"></i>
        <a href="">
          <span> Teléfono </span>
          <span> 965765678</span>
        </a>
      </div>
      <div>
        <i class='bx bx-envelope'></i>
        <a href="">
          <span> Correo </span>
          <span> correo&#64;correo.com</span>
        </a>
      </div>
      <div>
        <img src="assets/location-icon.webp" alt="">
        <a href="">
          <span> Dirección </span>
          <span> Av. el sol calle 12321</span>
        </a>
      </div>
    </article>
    <hr>
    <article>
        <div>
            <a href="">Politica de privacidad</a>
            <span class="punto"></span>
            <a href="">Terminos de uso</a>
        </div>
        <div>
            <a href="" class="icon_media"><i class='bx bxl-twitter'></i></a>
            <a href="" class="icon_media"><i class='bx bxl-facebook'></i></a>
            <a href="" class="icon_media"><i class='bx bxl-instagram'></i></a>
        </div>
    </article>
    <hr>
    <p>&copy; Copyright 2024. Todos los derechos reservados</p>
  </div>
</footer>
