<app-header></app-header>
<section class="section about-us">
  <div class="container">
    <div class="about-item">
      <div class="about-text">
        <h2>Sobre Nosotros</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          voluptatum voluptatem doloremque consequatur rem suscipit minima
          incidunt, nostrum, eveniet ab dignissimos vero autem soluta culpa
          ipsum illum quasi? Voluptas cum ipsa laborum placeat sint facilis
          magni in recusandae reprehenderit, sapiente architecto tempora, quam
          aliquid molestias. Odit magnam consectetur at nemo.
        </p>
      </div>
      <div class="about-image">
        <img src="assets/nosotros-img.jpg" alt="Sobre Nosotros" />
      </div>
    </div>
    <div class="about-item">
      <div class="about-text">
        <h2>Misión</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nihil,
          non veritatis voluptatem ex natus iure voluptate earum obcaecati quod
          nulla neque deserunt, rem excepturi nostrum ipsa quisquam ullam quo
          quam soluta eaque repellat. Dolores quis, eveniet dolor aperiam minima
          repudiandae blanditiis dolore placeat in, suscipit saepe. Quibusdam a
          modi magnam possimus delectus? Inventore, eaque dicta! Nobis
          laboriosam vero voluptatibus, nulla quis dolorum totam aspernatur quam
          sequi repellat veniam deleniti enim in blanditiis ipsa laborum
          quisquam alias esse possimus? Quos consectetur vitae modi cum quidem!
          Autem placeat consequuntur hic iure earum. Ipsam, et laborum! Rem
          dignissimos odit blanditiis architecto temporibus?
        </p>
      </div>
      <div class="about-image">
        <img src="assets/mision.png" alt="Misión" />
      </div>
    </div>
    <div class="about-item">
      <div class="about-text">
        <h2>Visión</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat
          ducimus odit illum officia, fuga laboriosam, neque molestiae
          voluptate, tempore voluptas amet tenetur nulla fugit nam aliquam
          excepturi numquam incidunt dolor iure harum explicabo eum sequi nobis
          ipsam? Laboriosam incidunt ex quisquam, libero debitis accusamus
          fugiat itaque similique, cumque ratione tempore dolor illum aliquid
          ipsa sit quia eius facere sequi sapiente! Incidunt aspernatur
          excepturi voluptatem quis hic qui accusamus magnam officiis saepe ab
          at voluptate nisi, velit architecto recusandae natus voluptatibus?
        </p>
      </div>
      <div class="about-image">
        <img src="assets/vision.png" alt="Visión" />
      </div>
    </div>
  </div>
  <div class="onigrama__content">
    <h2>ONIGRAMA</h2>
    <div class="img__on">
<img src="assets/onigrama.png" alt="onigrama">
    </div>
  </div>
</section>
<app-footer></app-footer>
