.about-us {
    padding: 2rem;
    background-color: #f4f4f4;
    width: 100%;
    margin: 0 auto;
  }
  
  .container {
    margin: 2rem auto;
  }
  
  .about-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .about-text, .about-image {
    padding: 1rem;
  }
  
  .about-text {
    width: 65%;
    display: flex;
    flex-direction: column;
  }
  
  .about-image img {
    width: 18rem;
    border-radius: 20px;
    height: auto;
    object-fit: cover;
  }
  
  .about-text h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  .about-text p {
    margin: 0.5rem 0 0;
    color: #666;
    line-height: 1.5;
  }
  

  .onigrama__content{
      margin-top: 2rem 0;
    }
    .onigrama__content h2{
        text-align: center;
    }
    .onigrama__content .img__on {
        width: 100%;
        margin-top: 2rem;
    }
    .onigrama__content .img__on img{
        width: 80%;
        display: block;
        margin: auto;
    }