<app-header></app-header>
<section class="section section__cart">
  <div class="cart-container">
    <h2 class="cart-title">Compras  realizadas</h2>
    <div class="cart-item-list">
      <div class="cart-item">
        <img src="assets/aro-luz.png" alt="Producto" class="cart-item-image" />
        <div class="cart-item-details">
          <h3 class="cart-item-title">Producto 1</h3>
          <p class="cart-item-description">
            <b>Descripción:</b> detalle del producto. Incluye información sobre
            características, beneficios, y otros detalles relevantes.
          </p>
          <div class="cart-item-meta">
            <p class="cart-item-price"><b>Precio:</b> $29.99</p>
            <p class="cart-item-price"><b>Cantidad:</b> 5</p>
            <p class="cart-item-price"><b>Total:</b> S/ 100.00</p>
          </div>
        </div>
      </div>
      <div class="cart-item">
        <img src="assets/aro-luz.png" alt="Producto" class="cart-item-image" />
        <div class="cart-item-details">
          <h3 class="cart-item-title">Producto 1</h3>
          <p class="cart-item-description">
            <b>Descripción:</b> detalle del producto. Incluye información sobre
            características, beneficios, y otros detalles relevantes.
          </p>
          <div class="cart-item-meta">
            <p class="cart-item-price"><b>Precio:</b> $29.99</p>
            <p class="cart-item-price"><b>Cantidad:</b> 5</p>
            <p class="cart-item-price"><b>Total:</b> S/ 100.00</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-summary">
      <a class="checkout-button" routerLink="/productos">Ir a productos</a>
    </div>
  </div>
</section>

<app-footer></app-footer>
