<app-header></app-header>
<div class="categorias__header">
  <nav *ngFor="let categoria of categorias">
    <button (click)="getIdCategory(categoria.id)"> <i [class]="obtenerIcono(categoria.name)"></i>  {{categoria.name}} </button>
    <!-- <button><i class='bx bx-home'></i> Hogar</button>
    <button><i class='bx bx-laptop'></i> Computación</button>
    <button><i class='bx bx-headphone'></i> Accesorios</button>
    <button><i class='bx bxs-washer'></i> Limpieza</button>
    <button><i class='bx bx-plus-circle'></i> Otros</button> -->
  </nav>
</div>
<section class="section section__productos">
  <div class="card-container">
    <div class="card" *ngFor="let product of products">
      <img class="card-image" [src]="product.image1" alt="Product Image" />
      <div class="card-content">
        <h2 class="card-title">{{ product.name }}</h2>
        <div class="text__content">
          <p class="card-price">S/ {{ product.price }}</p>
          <div class="quantity-selector">
            <button class="quantity-btn" (click)="disminuir(product)">-</button>
            <input type="text" [value]="product.quantity" min="1" readonly>
            <button class="quantity-btn" (click)="aumentar(product)">+</button>
          </div>
        </div>
        <div class="btns__content">
          <a class="card-button" [routerLink]="['/detalle-del-producto', product.id]">Ver producto</a>
          <a class="card-button" routerLink="/cart">Agregar al carrito</a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
