<app-header></app-header>
<section class="section section__productos">
    <div class="card-container">
      <div class="card" *ngFor="let product of products">
        <img class="card-image" [src]="product.imageUrl" alt="Product Image" />
        <div class="card-content">
          <h2 class="card-title">{{ product.title }}</h2>
          <p class="card-price">{{ product.price | currency }}</p>
          <!-- <button class="card-button" (click)="viewProduct(product)">
            Ver Producto
          </button> -->
          <a class="card-button" routerLink="/detalle-del-producto">Ver producto</a>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>