<app-header></app-header>
<section class="section section__payment">
  <div class="container">
    <div class="stepper">
      <div class="step active">
        <div class="step-icon">
          <i class="bx bx-user"></i>
        </div>
        <p>Datos del Usuario</p>
      </div>
      <div class="step active">
        <div class="step-icon">
          <i class="bx bx-receipt"></i>
        </div>
        <p>Comprobante</p>
      </div>
      <div class="step active">
        <div class="step-icon">
          <i class="bx bx-package"></i>
        </div>
        <p>Tipo de Entrega</p>
      </div>
      <div class="step active">
        <div class="step-icon">
          <i class="bx bx-credit-card"></i>
        </div>
        <p>Pago</p>
      </div>
      <div class="progress-bar">
        <div class="progress" style="width: 98%"></div>
      </div>
    </div>

    <div class="payment-layout">
      <div class="summary-container">
        <h3>Resumen de tu Pedido</h3>
        <div class="product-card">
          <div class="product-details">
            <p class="product-name"><strong>Foco led Philips</strong></p>
            <p class="product-price">S/ 2.00</p>
          </div>
        </div>
        <div class="product-card">
          <div class="product-details">
            <p class="product-name"><strong>Ganchos de pared</strong></p>
            <p class="product-price">S/ 2.00</p>
          </div>
        </div>
        <div class="product-card">
          <div class="product-details">
            <p class="product-name"><strong>USB de 32 GB Kingston</strong></p>
            <p class="product-price">S/ 2.00</p>
          </div>
        </div>
        <div class="total-summary">
          <p class="total-label"><strong>Total:</strong></p>
          <p class="total-amount"><strong>S/ 6.00</strong></p>
        </div>
        <hr />
        <br />
        <!-- <div class="btn__form">
          <a routerLink="/tipo-de-entrega" class="btn btn-comprar">Regresar</a>
          <button type="submit" class="btn btn-comprar">
            Pagar con mercado pago
          </button>
        </div> -->
        <div class="btn__form">
          <a routerLink="/tipo-de-entrega" class="btn btn-comprar">Regresar</a>
          <button
            type="button"
            class="btn btn-comprar mercado__pago"
            (click)="payWithMercadoPago()"
          >
            <img src="/assets/mercadopago.png" alt="Mercado Pago" />
            <p>Pagar con Mercado Pago</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
