<app-header></app-header>
<section class="section section__contacto">
  <div class="container">
    <div class="contact-content">
      <div class="contact-form">
        <h2>Crear cuenta</h2>
        <form>
          <div class="form-group">
            <label for="nombres">Nombres</label>
            <input
              type="nombres"
              id="nombres"
              placeholder="Nombres"
              name="nombres"
              required
            />
          </div>
          <div class="form-group">
            <label for="spellidos">Apellidos</label>
            <input
              type="spellidos"
              id="spellidos"
              placeholder="Apellidos"
              name="spellidos"
              required
            />
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input
              type="telefono"
              id="telefono"
              placeholder="Teléfono"
              name="telefono"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Contraseña"
              rows="4"
              required
            />
          </div>
          <button type="submit">Crear cuenta</button>
          <div class="register__content">
            <p>Ya tienes una cuenta?</p> <a routerLink="/login">Iniciar sesión</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
